button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 1.3rem;
}

h3 {
    font-size: 1.1rem;
}

@font-face {
    font-family: 'blue_screen';
    src: url('./fonts/blue_screen_personal_use.woff2') format('woff2'),
         url('./fonts/blue_screen_personal_use.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    height: 97vh;
    padding: none;
    background: rgb(230, 230, 230);
}

.section {
    width: 60%;
    min-width: 400px;
    height: 100%;
}

.section.sidebar {
    border: 2px solid black;
    border-radius: 10px;
    width: 40%;
    background: url("./images/background.avif") no-repeat;
    background-size: cover;
    background-position: 50% 0%;
    display: flex;
    flex-direction: column;
}

.logo-section,
.sidebar-footer {
    height: 50%;
}

.logo-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.sr-only {
    position: absolute;
    left: 999rem;
}

.logo-container {
    height: 40%;
    background-color: rgba(33, 33, 33, 0.85);
    border: 1px solid rgb(27, 27, 27);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    height: 100%;
}

.group-name {
    color: rgb(214, 214, 214);
    font-family: "blue_screen", "Arial", system-ui, sans-serif;
    font-size: 2.5rem;
    letter-spacing: .2rem;
}

.sidebar-footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.credit {
    color: whitesmoke;
    font-size: 1rem;
    font-family: "Arial", system-ui, sans-serif;
}

.credit a {
    text-decoration: underline;
    font-weight: 600;
    color: whitesmoke
}

.section.main-content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 25px;
}

.button-container {
    border: 1px solid black;
    height: 25%;
}

.message-container {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

.form-container {
    background: whitesmoke;
    border-radius: 10px;
    box-shadow: 0px 2px 5px black;
    height: 25%;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: 
}

label {
    width: 49%;
    border: 1px solid black;
}