body {
    display: flex;
    height: 100%;
}

.section {
    border: 1px solid black;
    width: 60%;
    height: 1000px;
}

.section.sidebar {
    width: 40%;
    background: url("./images/background.avif") no-repeat;
    background-size: cover;
    background-position: 50% 0%;
}