*,
*::before,
*::after { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

h2, h3 {
    font-weight: 600;
}

h2 {
    font-size: 1.3rem;
}

h3 {
    font-size: 1.1rem;
}

@font-face {
    font-family: 'blue_screen';
    src: url('./fonts/blue_screen_personal_use.woff2') format('woff2'),
         url('./fonts/blue_screen_personal_use.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    gap: 0;
    min-height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: #EAEDF0;
    color: #3e4041;
}

.section {
    width: 60%;
    min-width: 400px;
}

.section.sidebar {
    border: 2px solid black;
    width: 40%;
    background: url("./images/background.avif") no-repeat;
    background-size: cover;
    background-position: 50% 0%;
    display: flex;
    flex-direction: column;
}

.logo-section,
.sidebar-footer {
    height: 50%;
}

.logo-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.sr-only {
    position: absolute;
    left: -999rem;
}

.logo-container {
    height: 40%;
    background-color: rgba(33, 33, 33, 0.85);
    border: 1px solid rgb(27, 27, 27);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    height: 100%;
}

.group-name {
    color: #c0d1e2;
    font-family: "blue_screen", "Arial", system-ui, sans-serif;
    font-size: 2.5rem;
    letter-spacing: .2rem;
}

.sidebar-footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.credit {
    color: whitesmoke;
    font-size: 1rem;
    font-family: "Arial", system-ui, sans-serif;
}

.credit a {
    text-decoration: underline;
    font-weight: 600;
    color: whitesmoke
}

.section.main-content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
    padding-top: 10%;
    padding-bottom: 10%;
    min-width: 500px;
    height: 100%;
    font-family: "Arial", "Helvetica", sans-serif;
}

.message-container {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 25px;
    gap: 25px;
    height: 26%;
    min-height: 200px;
}

.form-container {
    background: #F6F7F8;
    box-shadow: 0px 2px 5px black;
    min-height: 270px;
    height: 26%;
    width: 100%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: relative;
    overflow:unset;
}

.form-container p {
    position: absolute;
    top: 235px;
    font-weight: 600;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 12px;
    width: 500px;
}

input {
    background-color: #FFFFFF;
    border: 2px solid #e2e5e7;
    border-radius: 3px;
    outline-width: 0px;
    width: 92%;
    margin-top: 3px;
    margin-right: 0px;
    position: relative;
    top: 0px;
    font-size: initial;
}

input:focus {
    border: 2px solid rgb(135, 135, 253);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.333);
}

input:user-invalid {
    border: 2px solid rgb(228, 105, 105);
}

input:user-invalid + span::after {
    content: "!";
    font-size: 1.75rem;
    color: rgb(228, 105, 105);
    position: absolute;
    right: 8px;
    top: 19px;
}

label {
    width: 48%;
    position: relative;
    font-weight: 600;
    font-size: .75rem;
    color: #707273;
}

.button-container {
    height: 26%;
    width: 100%;
    padding-left: 25px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.submit-btn {
    padding: 8px 32px;
    border-radius: 5px;
    border: none;
    background-color:#b5c3d2;
}

.submit-btn:hover {
    background-color: #c6daed;
}

.log-in-link {
    color: #3e4041;
}